@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  background-color: #1b2539;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; /* Remove horizontal padding */
}

.logo {
  font-size: 1.5rem;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links li a {
  color: #cbd5e0;
  text-decoration: none;
  position: relative;
  transition: color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
}

.nav-links li a:hover {
  color: #fff;
  box-shadow: 0 -2px 0 #fff; /* Slide up the box-shadow on hover */
}