@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.About-body {
  align-items: center;
  justify-content: center;
}

.About-header {
  background: linear-gradient(to bottom, #1b2539, black);
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}


.about-nav {
  position: fixed;
  top: 20px; /* Adjust top distance */
  left: 20px; /* Adjust left distance */
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 500; /* Ensure the navbar is above other content */

  @media (max-width: 768px) {
    .about-nav {    
      padding: 15px 20px; /* Adjust padding for smaller screens */
      font-size: 1rem; /* Adjust font size */
    }
  }
}

.about-handle {

  margin-top: 60px;


}

h1 {
    
  font-size: 5rem; /* Default font size */
  text-align: center;
  justify-content: center;
  white-space: nowrap; /* Prevent text from wrapping */
  color: #cbd5e0;
  padding: 10px;
  font-family: "Poppins";

  /* Adjust font size for different screen widths */
  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }
}

h2 {

  font-size: 1.5rem; /* Default font size */
  text-align: center;
  justify-content: center;
  white-space: nowrap; /* Prevent text from wrapping */
  color: #cbd5e0;
  padding: 10px;
  font-family: "Poppins";

  /* Adjust font size for different screen widths */
  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }


}

h3 {

  font-size: 1rem; /* Default font size */
  text-align: left;
  justify-content: left;
  white-space: nowrap; /* Prevent text from wrapping */
  color: #cbd5e0;
  padding: 10px;
  font-family: "Poppins";

  /* Adjust font size for different screen widths */
  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }
}


.bottom-line {
  border-bottom: 2px solid #333; /* Change the color and thickness as needed */
  padding-bottom: 10px;
}

.orangify {
    position: relative;
    top: 0;
    color: orange;
    transition: top 0.3s ease;
}

.orangify:hover{
    top: -10px;
}